<div

style="height: 100%; width: 100%; background: url(../../../assets/imgs/fundo.png) fixed;">
</div>
<div class="containers"
 >

  <div class="child" 
  >
 
 
  <label for="exampleDataList" class="form-label">Busca de Animais de Raça</label>
  
  <div class="input-group mb-3">
    
    <input type="text" list="datalistOptions" class="form-control" placeholder="Informe a Raça" aria-label="Username" aria-describedby="basic-addon1">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-search"></i>
    </span>
  </div>

  <datalist id="datalistOptions">
    <option value="Fox Paulistinha">
    <option value="Buldog">
    <option value="Show Show">
    <option value="Chitzo">
    <option value="Vira Lata">
      <option value="Pit Bull">
        <option value="Pastor Alemão">

        <option value="Lhaza">
        
  </datalist>
  </div>
  </div>
  <div ></div>

